__pycache__/
*.py[cod]
*$py.class
.env
storage/temp_qrs/
storage/offer_letters/*
!storage/offer_letters/.gitkeep
storage/certificates/*
!storage/certificates/.gitkeep
storage/submissions/*
!storage/submissions/.gitkeep
.dist/
